table
  width: 100%

.mat-form-field
  font-size: 14px
  width: 100%

td, th
  width: 25%

tr
.example-detail-row
  height: 0

.example-element-row
  :hover
    background: whitesmoke

  :active
    background: #efefef

.example-element-row td
  border-bottom-width: 0

.container
  overflow: hidden
  display: flex


.lyrics
  min-width: 50px
  max-width: 300px
  border: 2px solid black
  padding: 8px
  font-weight: lighter
  margin: 20px
  white-space: pre-line


.histogram
  width: 1200px
  font-size: 30px
  line-height: normal
  margin: 20px

.main-content-container
  display: flex

.menu-container
  width: 10%
  margin: 15px

.content-container
  margin: 15px
  width: 90%
  flex-grow: 1

.database-actions
  margin: 15px
  flex-grow: 1

.letter
  margin: 5px
  font-size: 3px

.artist-letter
  display: flex

.artist-prompt
  margin: 20px
  font-size: 18px