<app-template-base></app-template-base>
<div class="main-content-container">
    <div class="menu-container">
        <app-menu></app-menu>
    </div>

    <div class="content-container">
    <form [formGroup]="this.form" (submit)="submitConfigSetting()">

      <div class="title-container">
        <p>Spark worker config</p>
        <hr>
        <mat-form-field appearance="fill">
          <mat-label>Number of workers</mat-label>
          <mat-select formControlName="numOfWorkers" required>
            <mat-option *ngFor="let number of numberOfWorkersOptions" [value]="number">
              {{number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Cores per worker</mat-label>
          <mat-select formControlName="numOfCores"  required>
            <mat-option *ngFor="let number of numberOfCoresOptions" [value]="number">
              {{number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <mat-form-field appearance="fill">
          <mat-label>Memory per worker</mat-label>
          <mat-select formControlName="memoryPerWorker" required>
            <mat-option *ngFor="let memory of memoryOptions" [value]="memory">
              {{memory}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>
        <p>Power setting </p>
        <br>
        <mat-slide-toggle   [formControl]="activate" (change)="toggleConsumer($event)">Consumer Off/On</mat-slide-toggle>
        <br>
        <p *ngIf="this.sentConfig === true">Config created in few moments consumer start work</p>
      </div>
    </form>
      <br>
    <button mat-raised-button color="primary" (click)="startProducer()">Start Producer</button>
    </div>


</div>
